<body>
    <div class="container">
        <div class="jumbotron jumbotron-fluid bg-danger text-light text-center">
            <h1 class="font-weight-bold">Borger Shop</h1>
            <img src="https://media1.s-nbcnews.com/j/newscms/2019_21/2870431/190524-classic-american-cheeseburger-ew-207p_d9270c5c545b30ea094084c7f2342eb4.fit-760w.jpg" alt="Burger-1" class="img-thumbnail float-left mx-3" width="200px"/>
            <img src="https://www.thespruceeats.com/thmb/ujNJ5gRlaaosY3oPjUwHWGX-oHI=/3595x2696/smart/filters:no_upscale()/luther-burger-doughnut-bacon-cheeseburger-4018810-hero-01-6fe92cf3005f4585bc2ff361a048b5f7.jpg" alt="Burger-2" class="img-thumbnail float-right mx-3" width="200px"/>
            <hr class="my-4">
            <h5>Welcome to the Borger Shop!</h5>
            <p>Enter what kind of burger you would like to order</p>
            <input id="orderInput">
            <button class="btn btn-success btn-sm" id="submitBtn">Submit</button>
        </div>

        <div class="row justify-content-between">
            <div class="col-md-6">
                <div class="card mb-3 border-danger text-dark">
                    <div class="card-header bg-danger text-light">Ordered Burgers</div>
                    <div class="card-body">
                        <ul>
                            {{#each burgers}}
                                {{#unless devoured}}
                                    <span>{{this.id}} - {{this.burger_name}}</span>
                                    <button class="btn btn-outline-success" id="devourBtn" data-id="{{this.id}}" data-newDevoured="{{devour}}">Devour</button>
                                    <hr>
                                {{/unless}}
                            {{/each}}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card mb-3 border-danger text-dark">
                    <div class="card-header bg-danger text-light">Devoured Burgers</div>
                    <div class="card-body">
                         <ul>
                            {{#each burgers}}
                                {{#if devoured}}
                                    <span>{{this.id}} - {{this.burger_name}}</span>
                                    <button class="btn btn-outline-success" id="trashBtn" data-id="{{this.id}}" data-newDevoured="{{devour}}">Devour</button>
                                    <hr>
                                {{/if}}
                            {{/each}}
                        </ul>
                    </div>
                </div>
            </div>
           
    
    
    
    
    
    
    
    </div> 

</body>
